/bin
/build
/vendor
composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


